@import 'theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  margin-top:90px!important;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
   /*custom background color gradient*/
   background: rgb(214,212,255);
background: linear-gradient(0deg, rgba(214,212,255,1) 0%, rgba(240,240,255,1) 27%, rgba(248,254,255,1) 100%); 
}
.container {
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right;
}
footer{
  min-width:100%;
  background-color:#cdcdcd;
 bottom:0px;
 height:90px;
  position:absolute;
}
header{
 /* min-width:100%;*/
 /* background-color:#98a7ff;*/
  /*padding:15px;*/
 
}
header img{
  display:flex;
 /* float:left;clear:both;*/
  margin-right:auto;margin-left:auto;text-align:center;
  width:100%; height:auto;
  max-width:400px;
}
.item li{
  flex-basis:  25% auto; 
 }
 .item li{
    background:#ffccdd;
   list-style:none;
   display:block;
   padding:15px;
   float:left;
   width:25%;
   margin:5%;
 }
.ICCLogo{width:60%;height:auto;background:#fff;padding:10px;}

/*flex and nav*/
 .flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width:25%;
  max-width: 200px;
  min-width:80px;
  height: auto;
  margin-top: 10px;
  /*line-height: 150px;*/
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

/*----ham menu---*/
/* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
  width: 100%;
  background: #000;
  /* Optional */
  position: sticky;
  top: 0;
  position: absolute;
    float: left;
    z-index: 500;
}

/* Hide Hamburger */
#hamnav label, #hamburger {
    display: none;    }

/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems a {
  width: 20%; /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #401408;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger Icon */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* Toggle Show/Hide Menu */
  #hamitems { /*display: none;*/ display: none;  opacity: 0;  transition: display 0s, opacity 0.5s linear; }
  #hamnav input:checked ~ #hamitems { /*display: block;*/display: block;  opacity: 1; }
}

/* [DOES NOT MATTER] */
html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}
#page-nav {
  background: #000;
  position: sticky;
  top: 0;
}